<h1>Menus</h1>

<table class="table table-bordered">
  <tr>
    <th>Start date</th>
    <th>Menu Items</th>
    <th>Action</th>
  </tr>

<% @menus.each do |menu| %>
  <tr>
    <td><%= menu.start_date.strftime("%A, %e %b") %></td>
    <td><% menu.menu_items.sort{|x,y| x.having <=> y.having}.each do |item| %>
    		<%= item.having.strftime("%A") %>: 
    		<%= link_to item.recipe.name, item.recipe %><br/>
    	<% end %>
    </td>
    <td><%= link_to 'Show', menu %> |
    		<%= link_to 'Edit', edit_menu_path(menu) %> |
    		<%= link_to 'Destroy', menu, method: :delete, data: { confirm: 'Are you sure?' } %>
    		<br/>
    		<% if menu.shopping_list %>
	    		<%= link_to 'Shopping List', menu.shopping_list %>
	    	<% else %>
	    		<%= link_to 'Shopping List', generate_shopping_list_menu_path(menu) %>
	    	<% end %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Menu', new_menu_path %>
