<p id="notice"><%= notice %></p>

<p>
  <b>Shopping list:</b>
  <%= @other_item.shopping_list_id %>
</p>

<p>
  <b>Name:</b>
  <%= @other_item.name %>
</p>

<p>
  <b>Quantity:</b>
  <%= @other_item.quantity %>
</p>


<%= link_to 'Edit', edit_other_item_path(@other_item) %> |
<%= link_to 'Back', other_items_path %>
